// Tipografía
$fuente-principal: "Monserrat", sans-serif;

// Colores
$verdeazul: #4cb8b3;
$rosa: #f53759;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;
$gris: #e1e1e1;